**
!package.json
!README.md
!docs/guide.md
!docs/readme_zh.md
!docs/readme_ja.md
!LICENSE
!CHANGELOG.md
!assets/logo.png
!assets/logo.svg
!assets/activity.svg
!dist/extension.js
!dist/webview.js
!dist/webview.css
!dist/codicon.ttf
!dist/codicons.NOTICE
!dist/*.LICENSE
!dist/node-pty/**
!dist/pdfjs/**
!dist/document_search_worker.js
